#ScheduleMeal .border-information{
    border:1px solid #F53855;
    border-radius: 10px;
}


#ScheduleMeal .padding-information {
    border:1px solid black;
    padding:50px;
}
#ScheduleMeal .padding-information input{
    /* padding-bottom: 63px;
    width:251px; */
    width:200px;
    padding-bottom: 30px;
    padding-top: 3px;
    padding-left:5px;
    margin-left:10px;
}
#ScheduleMeal  .col-sm-12{
    margin-bottom: 80px;
}
.padding-information {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.padding-information.expanded {
    height: auto; /* Đặt height tự động khi mở rộng */
    opacity: 1;
    /* Thiết lập lại chiều cao cụ thể để kích hoạt chuyển động */
    transition: height 0.5s ease-out, opacity 0.5s ease-out;
}
.btn-submit{
    background-color: #F53855;
    color:white;
}
.btn-submit:hover{
    border: 1px solid #F53855;
    background-color: transparent;
    color:#F53855;
}
