#content_history {
    background-color: #181818;
    padding: 50px 100px 100px 100px
}

#content_history .container {
    padding: 100px;
}

#Vision .container {
    width: 70%;
}
#Vision .title_vision{
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-size: 40px;
}
#Vision .title_vision::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #111 0%, rgba(17, 17, 17, 0.00) 100%);
}
#Mission .container {
    width: 70%;
}
#Mission{
    background-color: black;
    padding-bottom: 70px;
}
#Mission .title_mission{
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-size: 40px;
    padding-top:32px;
}

#Mission .title_mission::before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #FEFEFE 0%, rgba(254, 254, 254, 0.00) 100%);
}
